@media (max-width: 1223px){

    .top-header .list-options{
        display: none;
    }
    .nav-bars{
        margin-left: 30px;
        display: block;
    }
    .top-header .bars-options{
        width: 75% ;
        height: 100%;
        background-color:rgb(255, 255, 255);
        z-index: 11;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        line-height: 180px;
        padding-left: 100px;
        transform: translateX(0%);
    }
    .close-bars{
        font-size: 30px;
        margin-left: -50px;
    }
    
    .top-header .listing-bars>a{
        color:rgb(0, 0, 0);
        text-decoration: none;
        font-size: 30px;
        
    }
    .bars-options{
        display: none;
    }
    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 10;
        display: none;
    }






    
    .fact-container{
        width: 100%;
        background-color:#fff;
        padding-top: 100px;
        margin-bottom: 250px;
        position: relative;
    }
    
    
    .fact-container .big-text{
        font-size: 60px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 100px;
        padding-left: 100px;
        letter-spacing: 4px;
        width: 600px;
    }
    
    .fact-container .small-text{
        font-size: 35px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;
        padding-left: 100px;
        margin-top: 30px;
        letter-spacing: 1px;
        padding-bottom: 100px;
        width: 500px;
    } 
    





    .fact-container{
        height: auto;
    }



    
    .fact-content{
        width: 100%;
        height: auto;
        margin: 100px auto 100px auto;
        display:contents;
    
    }
    .content-12{
        width: 100%;
        height: 600px;
        display: contents;
    }
    
    .content-1{
        width: 200%;
        height: 600px;
        background-color: #E21C20;
        position: relative;
    }
    
    


.content-1 .fact-title1{
    width: 70%;
    height: 30%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.content-1 .fact-sub1{
    width: 85%;
    height: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 75px;
    padding-left: 50px;
    color: #fff;
}

.button-1{
    position: absolute;
    margin-top: -320px;
    margin-left: 270px;
    width: 150px;
    height: 50px;
    background-color:#E21C20 ;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.button-1:hover{
    background-color: #fff;
    color: #E21C20 ;
}


.content-2{
    width: 100%;
    height: 600px;
    background-color: #fff;
}

.content2-img{
    width: 200%;
    height: auto;
}





















.content-34{
    width: 100%;
    height: auto;
    display: contents;
}
.content-3{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top:200px;
}






.content-4{
    width: 200%;
    height: 700px;
    background-color: #994545;
}
.content-4 .fact-title4{
    width: 70%;
    height: 30%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
    color: #fff;
}
.content-4 .fact-sub4{
    width: 85%;
    height: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
    color: #fff;
}


.button-4{
    position: absolute;
    margin-top: -320px;
    margin-left: 280px;
    width: 150px;
    height: 50px;
    background-color:#994545 ;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-4:hover{
    background-color: #fff;
    color: #994545  ;
}




.content-56{
    width: 100%;
    height: auto;
    display: contents;
}
.content-5{
    width: 200%;
    height: 600px;
    background-color: #D4BDA7;
}
.content-5 .fact-title5{
    width: 70%;
    height: 30%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.content-5 .fact-sub5{
    width: 85%;
    height: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
}


.button-5{
    position: absolute;
    margin-top: -320px;
    margin-left: 280px;
    width: 150px;
    height: 50px;
    background-color: #D4BDA7;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-5:hover{
    background-color: #fff;
    color: #D4BDA7  ;
}


.content-6{
    width: 100%;
    height: 600px;
    background-color: #fff;
}
.content-6 .fact-title6{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
}
.content-6 .fact-sub6{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
}






.content-78{
    width: 100%;
    height: auto;
    display: contents;
    
}
.content-7{
    width: 100%;
    height: 600px;
    background-color: #fff;
    margin-top: 200px;
}






.content-8{
    width: 200%;
    height: 700px;
    background-color: #E8C723;
    margin-top: 200px;
    padding-top: 50px;
}
.content-8 .fact-title8{
    width: 70%;
    height: 30%;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
    color: #fff;
}
.content-8 .fact-sub8{
    width: 85%;
    height: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
    color: #fff;
}
.button-8{
    position: absolute;
    margin-top: -300px;
    margin-left: 280px;
    width: 150px;
    height: 50px;
    background-color: #E8C723;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-8:hover{
    background-color: #fff;
    color: #E8C723 ;
}


    















    .fact-container .to-top{
        background-color: #c9c5c5;
        position: absolute;
        right: 40px;
        top: 1100px;
        position: fixed;
        width:80px;
        height:80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color:#1f1f1f;
        text-decoration: none;
        opacity:0;
        pointer-events: none;
        transition: all .4s;
    }
    
    
    
    .footer{
        width: 200%;
        margin-top: -250px;
    }
    .footer .contact{
        margin-left: -280px;
    }
    }