*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style for header */
.top-header{
    width: 100%;
    height: 120px;
    background-color: #fff;
    position: fixed;
    z-index: 9999999999999;
}

.top-header .img-logo{
    width: 140px;
    height: 60px;
    margin-top: 25px;
    margin-left: 30px;
}

.top-header .list-options{
    display: flex;
    justify-content: center;
}

.top-header .list-options .listing{
    margin-top: -35px;
    margin-right: 70px;
    margin-left: 80px;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing:3px;
    font-size: small;
}

.top-header .list-options .a-homepage{
    text-decoration: none;
    color: black;
}
.top-header .list-options .a-homepage:hover{
    color: rgb(99, 205, 219);
    cursor: pointer;
}

.top-header .login-bag{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-top: -35px;
}
.top-header .login-bag .bag-logo{
    margin-left: 30px;
}
.top-header .login-bag .bag-logo:hover{
    cursor: pointer;
}
.top-header .login-bag .login-logo:hover{
    cursor: pointer;
}















/* Css for content */

.fact-container{
    width: 100%;
    background-color:#fff;
    padding-top: 100px;
    margin-bottom: 250px;
    position: relative;
}


.fact-container .big-text{
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    padding-left: 200px;
    letter-spacing: 4px;
}

.fact-container .small-text{
    font-size: 30px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding-left: 200px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.fact-content{
    width: 70%;
    height: 1800px;
    margin: 100px auto 100px auto;

}
.content-12{
    width: 100%;
    height: 600px;
    display: flex;
}
.content-1{
    width: 50%;
    height: 600px;
    background-color: #E21C20;
    position: relative;
}
.content-1 .fact-title1{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.content-1 .fact-sub1{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 75px;
    padding-left: 50px;
    color: #fff;
}

.button-1{
    position: absolute;
    margin-top: -340px;
    margin-left: 160px;
    width: 150px;
    height: 50px;
    background-color:#E21C20 ;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.button-1:hover{
    background-color: #fff;
    color: #E21C20 ;
}


.content-2{
    width: 50%;
    height: 600px;
    background-color: #fff;
}

.content2-img{
    width: 100%;
    height: 100%;
}







.content-34{
    width: 100%;
    height: 600px;
    display: flex;
}
.content-3{
    width: 50%;
    height: 600px;
    background-color: #fff;
}






.content-4{
    width: 50%;
    height: 600px;
    background-color: #994545;
}
.content-4 .fact-title4{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
    color: #fff;
}
.content-4 .fact-sub4{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
    color: #fff;
}


.button-4{
    position: absolute;
    margin-top: -300px;
    margin-left: 160px;
    width: 150px;
    height: 50px;
    background-color:#994545 ;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-4:hover{
    background-color: #fff;
    color: #994545  ;
}




.content-56{
    width: 100%;
    height: 600px;
    display: flex;
}
.content-5{
    width: 50%;
    height: 600px;
    background-color: #D4BDA7;
}
.content-5 .fact-title5{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.content-5 .fact-sub5{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
}


.button-5{
    position: absolute;
    margin-top: -350px;
    margin-left: 160px;
    width: 150px;
    height: 50px;
    background-color: #D4BDA7;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-5:hover{
    background-color: #fff;
    color: #D4BDA7  ;
}


.content-6{
    width: 50%;
    height: 600px;
    background-color: #fff;
}
.content-6 .fact-title6{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
}
.content-6 .fact-sub6{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
}






.content-78{
    width: 100%;
    height: 600px;
    display: flex;
    
}
.content-7{
    width: 50%;
    height: 600px;
    background-color: #fff;
}






.content-8{
    width: 50%;
    height: 600px;
    background-color: #E8C723;
}
.content-8 .fact-title8{
    width: 70%;
    height: 30%;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: -30px ;
    color: #fff;
}
.content-8 .fact-sub8{
    width: 85%;
    height: 100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: .3px;
    padding-top: 110px;
    padding-left: 50px;
    color: #fff;
}
.button-8{
    position: absolute;
    margin-top: -280px;
    margin-left: 160px;
    width: 150px;
    height: 50px;
    background-color: #E8C723;
    border: 4px solid white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.button-8:hover{
    background-color: #fff;
    color: #E8C723 ;
}



.fact-container .to-top{
    background-color: #c9c5c5;
    position: absolute;
    right: 80px;
    top: 700px;
    position: fixed;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
}
.fact-container .to-top:hover{
    cursor: pointer;
    font-size: 16px;
}


.fact-container .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }



































/* css for footer */
.footer{
    width: 100%;
    height: 420px;
    background-color: rgb(99, 205, 219);
    padding-top: 20px;
    margin-top: 800px;
}
.footer .footer-text{
    font-size: 35px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.contact{
    padding-top: 40px;
   padding-left: 500px;
}

.footer .follow-us{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: -60px;
       
}
