@media (max-width: 1023px){

    body{
        max-width: 750px !important; 
        margin: 0 auto;
        overflow-x: hidden;
    }
    .top-header{
        max-width: 750px !important; 
    
    }
    
    .top-header .list-options .listing{
        display: none;
    }
    .top-header .login-bag .nav-bars{
        margin-left: 30px;
        display: block;
    }
    .top-header .bars-options{
        width: 75% ;
        height: 100%;
        background-color:rgb(255, 255, 255);
        z-index: 11;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        line-height: 180px;
        padding-left: 100px;
        transform: translateX(0%);
        
    }
    .close-bars{
        font-size: 30px;
        margin-left: -50px;
    }
    
    .top-header .listing-bars>a{
        color:rgb(0, 0, 0);
        text-decoration: none;
        font-size: 30px;
        
    }
    
    
    .overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 10;
        display: none;
    }
    
    















    /* css for content */
    .content{
        height: auto;
    }


    .owl-carousel{
        margin-top: -1000px;
    }

    .item{
        display: none;
        padding-top: -1000px;
    }

    .text-ads{
        position: absolute;
        z-index:2 ;
        padding-top: 100px;
        padding-left: auto;
        background-image: url('../hp-images/coca-bottle.webp');
        background-repeat: no-repeat;
        background-size: 2000px 500px;
       
    }
    
    .text-ads .bold-text{
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        width: auto;
        height: auto;
        position: absolute;
        left: 100px;
    }
    .text-ads .normal-text{
        width: 510px;
        height: 52px;
        font-size: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 150px;
        line-height: 35px;
    }


    

    .twogirl-img{
        display: none;
    }

    .content .existence{
        width: 10000px;
        height: 850px;
        background-color: bisque;
        margin-top: 200px;
        padding-left: 1000px;
        
    }

    .content .existence .text-exist{
        width: 200%;
        height: 100%;
        background-color: rgb(247, 190, 225);
    }
    .content .existence .story{
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
        margin-left: -10000px;
    }
    .content .existence .read-more2{
        margin-left: 280px;
    }

    .content .existence .read-more2:hover{
        background-color: #fff;
        color:rgb(247, 190, 225) ;
    }







    .content .three-bottles{
        width: 200%;
        height: 500px;
        background-color: bisque;
        margin-top: 650px;
        display: block;
    }
    .content .three-bottles .right-threebot{
        display: none;
        
    }
    .threebot-img{
        margin-top: -685px;
        width: 500%;
        width: 710px;
        height: 100%;
        object-fit: cover;
        margin-left: 18px;
    }

    .content .read-more{
        margin-left: 280p;
    }

    .content .fact{
        font-size: 59px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        letter-spacing: 1px;
        padding-top: 100px;
        padding-left: 150px;
    }

    .map{
        width: 750px;
    }



    .footer{
        width: 800%;
        padding-left: 20000px;
    }
    .footer .contact{
        margin-left: -280px;
    }
    
    
}    