@media (max-width: 1223px){
body{
    max-width: 750px !important; 
    margin: 0 auto;
    overflow-x: hidden;
}
.top-header{
    max-width: 750px !important; 

}

.top-header .list-options{
    display: none;
}
.nav-bars{
    margin-left: 30px;
    display: block;
}
.top-header .bars-options{
    width: 75% ;
    height: 100%;
    background-color:rgb(255, 255, 255);
    z-index: 11;
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    line-height: 180px;
    padding-left: 100px;
    transform: translateX(0%);
}
.close-bars{
    font-size: 30px;
    margin-left: -50px;
}

.top-header .listing-bars>a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    
}


.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    display: none;
}










.main-content{
    height: 2600px;
}

.main-image{
    width: 200%;
    height: 700px;
   
}
.trust-bod{
    margin-left: 170px;
    width: 400px;
    height: 450px;
}
.ourstory-image{
    display: none;
}
.big-text{
    display: flex;
    justify-content: flex-start;
    padding-left: 185px;
    font-size: 70px;
}
.small-text{
    width: 650px;
    height: 600px;
    font-size: 27px;
    letter-spacing: 1.5px;
    display: flex;
    padding-left: 100px;
}
.everywhere-text{
    display: none;
}

.fourbot-img{
    width: 500%;
    margin-top: 100px;
    margin-left: -90px;


}


















.footer{
    width: 300%;
    margin-left: -200px;
   
}
.footer .contact{
    transform: translateX(-70px);
}
.follow-us{
    transform: translateX(10px);
}
}